* {
    padding: 0;
    margin: 0;
    background-color: #9ddaf4;
}
span, a, mat-icon, img{
    background-color: transparent;
}
.example-spacer {
    flex: 1 1 auto;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
