<p>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>
        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968908.png " width="100%" height="100%"
          style="object-fit:cover;" title="" class="img-small">
      </mat-icon>
    </button>

    <a href="/" style="list-style: none;">Uneddit</a>
    <span class="example-spacer"></span>
    <a mat-flat-button color="accent" href="/login">Entrar</a>
    <a mat-flat-button color="warn" href="/register" style="margin-left: 0.5rem;">Cadastrar</a>
    <app-side-bar></app-side-bar>
  </mat-toolbar>
</p>