<mat-progress-bar mode="determinate" value="{{barValue}}"></mat-progress-bar>
<mat-error *ngIf=" strongfront > 0 &&  strongfront < 7"  style="color: red;">
    Please enter a strong password
</mat-error>
<mat-form-field>

    <mat-label>Enter your password</mat-label>
    <input matInput (change)="passwordChanged()" (keydown)="passwordChanged()" [(ngModel)]="password" required="">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>


</mat-form-field>


<div class="strongBox">
    <div *ngFor="let x of passStrong">
        <div class="strongPass"></div>
    </div>
</div>

<div style="color: red;">
    {{ repeatEqualToPass ? "" : "Password must be equal"}}
</div>
<mat-form-field>
    <mat-label>Rewrite your password</mat-label>
    <input matInput [type]="password" [(ngModel)]="repeat" (change)="updateRepeatCondition()">
</mat-form-field>