<mat-progress-bar mode="determinate" value="{{barValue}}"></mat-progress-bar>
<mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" (change)="passwordChanged()" (keydown)="passwordChanged()"
        [(ngModel)]="password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
</mat-form-field>


<div class="strongBox">
    <div *ngFor="let x of passStrong">
        <div class="strongPass"></div>
    </div>
</div>

<p style="color: red;">
    {{ repeatEqualToPass ? "" : "Password must be equal"}}
</p>
<mat-form-field>
    <mat-label>Rewrite your password</mat-label>
    <input matInput [type]="password" [(ngModel)]="repeat" (change)="updateRepeatCondition()">
</mat-form-field>
