.app{
    z-index: 100;
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
mat-card{
    background-color: #33353f;
    width: 25%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 80%;
}
mat-card-content{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.last-informations{
    display: flex;
    justify-content: center;
    flex-direction: column;
}