<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
    style="color:#dddddd; background-color: transparent;">
    <mat-icon>home</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <a href="/">
        <button mat-menu-item>
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button></a>
    <a href="">
        <button mat-menu-item>
            <mat-icon>me</mat-icon>
            <span>Meu Perfil</span>
        </button>
    </a>
    <a href=""> <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Configurações</span>
        </button></a>

    <a href="">
        <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span (click)="out()">Sair</span>
        </button>
    </a>

</mat-menu>