.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #212121;;
}
.mdc-text-field
{
    border-bottom-right-radius: var(--mdc-shape-small, 4px) !important;
    border-bottom-left-radius: var(--mdc-shape-small, 4px) !important;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
mat-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.mat-mdc-card{
    background-color: #212121;
}

.mat-mdc-text-field-wrapper mdc-text-field ng-tns-c1205077789-0 mdc-text-field--filled
{
    background-color: aliceblue;
}
.example-full-width{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 100%;

}

mat-icon{
    margin-left: 1rem;
}
button{
    padding-right: 1rem;
}
.button-area
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.mdc-menu-surface .mat-mdc-select-panel {
    width: 10vw !important; 
    position:absolute;
    outline: 0;
    margin: 0;
    padding: 8px 0;
    list-style-type: none;
}
.select{
    position: relative;
    background-color: blue;
}
.select select {
    /* display: none; */
     /*hide original SELECT element:*/
}