<div class="bar">
  <button mat-fab color="primary" style="background-color: #FF99C8;"
    aria-label="Example icon button with a delete icon">
    <mat-icon>delete</mat-icon>
  </button>
  <div class="spacer"></div>
  <button mat-fab color="primary" style="background-color: #D0F4DE;"
    aria-label="Example icon button with a delete icon" (click)="openDialog()">
    <mat-icon>group_add</mat-icon> 
  </button>
  <div class="spacer"></div>
  <button mat-fab color="primary" style="background-color: #E4C1F9;"
    aria-label="Example icon button with a delete icon">
    <mat-icon>delete</mat-icon>
  </button>
  <div class="spacer"></div>
  <button mat-fab color="primary" style="background-color: #FCF6BD;"
    aria-label="Example icon button with a delete icon">
    <mat-icon>delete</mat-icon>
  </button>
</div>
