<div class="app">
    <div class="profile-informations">
        <mat-card>
            <mat-card-content>
                <div class="image">
                    <img src="https://img.freepik.com/free-icon/user_318-159711.jpg" alt="">
                </div>
                <hr>
                <div class="user-name">
                    <h3>Name</h3>
                </div>
                <hr class="sub-division">
                <div class="user-birthday">
                    <h2>23/01/2004</h2>
                </div>
                <hr class="sub-division" style="margin-bottom: 2vh;">
                <button mat-stroked-button color="primary">Editar</button>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="profile-posts" style="width: 50%;">
        <mat-card>
            <mat-card-content>
                <div class="buttons-upper">
                    <button mat-raised-button color="primary">My Posts</button>
                    <button mat-raised-button color="accent">My Forums</button>
                </div>
                <hr>
                <div class="content-from-buttom">
                    <div class="post">
                        <div class="content">
                            <h3>ablablalbalala esse eh o titulo da postagem</h3>
                            <h4 style="font-size: 2vh;">texttextextextext</h4>
                            <h4>forum</h4>
                        </div>
                        <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                            <mat-icon>keyboard_arrow_left</mat-icon>
                        </button>
                    </div>
                    <hr style="margin: 0;">
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>