<div class="app">
  <h2 mat-dialog-title>Criar Fórum</h2>
  <div mat-dialog-content>
    <div class="example-form">
      <h3 style="color: black;">Nome</h3>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Dê um nome criativo!" [(ngModel)]="data.titulo">
        <!-- <mat-error *ngIf="nameFormControl.hasError('required')">
          Name is <strong>required</strong>
        </mat-error> -->
      </mat-form-field>
      <div class="two-titles">
        <h3 style="color: black;">Descrição</h3>
        <h3 style="color: black; padding-right: 1rem;">Quantidade</h3>

      </div>
      <div class="two-inputs">

      
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Escreva sobre os assuntos do seu fórum!"
        [(ngModel)]="data.descricao">
        <mat-hint>Insira uma descrição.</mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width" style="width: 30%; padding-left: 5rem;">
        <input matInput [(ngModel)]="data.quantidade" type="number">
      </mat-form-field>
      </div>
      <h4 style="display: flex; align-items: center; margin: 0; justify-content: center; color: rgb(121, 141, 143);">{{responseMessage}}</h4>
    </div>
  </div>
  <div mat-dialog-actions style="justify-content: space-between;">
    <button mat-button mat-dialog-close>Voltar</button>
    <button mat-button cdkFocusInitial style="background-color: #D0F4DE;"
    (click)="createForum()">Criar</button>
  </div>
</div>