
<div class="app">
    <mat-card>
        <mat-card-content>
            <h3>Cadastre-se:</h3>
            <br>

            <mat-form-field>
                <mat-label>Nickname</mat-label>
                <input matInput [(ngModel)]="data.username" required="">
            </mat-form-field>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-form-field>
                <mat-label>Enter your email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" [(ngModel)]="data.email"
                    placeholder="Ex. pat@example.com">
                
                
            </mat-form-field>

            <app-create-password (Strong)="onPasswordStrongChanged($event)"  (seePasswordChanged)="password($event)" style="width: 100%;"></app-create-password>
            

            <mat-form-field>
                <mat-label>Data de nascimento:</mat-label>
                <input matInput [matDatepicker]="picker" id="dateBirth" value="" min="1901-01-01" max="{{today}}">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <h4>{{responseMessage}}</h4>
            <button mat-raised-button color="primary" (click)="register()">Cadastrar</button>
        </mat-card-content>
    </mat-card>
</div>