.app{
    z-index: 100;
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
mat-card{
    background-color: #33353f;
    width: 25%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
mat-form-field
{
    width: 100%;
    margin: 0.5rem 0 0.3rem 0;
}
h3{
    font-size: 2rem;
    margin-right: 11rem;
}
.mdc-button{
    margin-top: 1.5rem;
    margin-left: 15rem;
}
mat-card-content{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}