<div class="app">
  <p>Junte-se ao
  </p>
  <div class="color-letter">
    <ul>
      <li>
        <input type="checkbox" />
        <div class="letter">U</div>
      </li>
      <li>
        <input type="checkbox" />
        <div class="letter">R</div>
      </li>
      <li>
        <input type="checkbox" />
        <div class="letter">S</div>
      </li>
      <li>
        <input type="checkbox" />
        <div class="letter">I</div>
      </li>
      <li>
        <input type="checkbox" />
        <div class="letter">T</div>
      </li>
      <li>
        <input type="checkbox" />
        <div class="letter">T</div>
      </li>
      <li>
        <input type="checkbox" />
        <div class="letter">E</div>
      </li>
      <li>
        <input type="checkbox" />
        <div class="letter">R</div>
      </li>
    </ul>
  </div>


</div>